.DS_Store
*.pyc
1IntegrationTests/img/*
FacePi/img/*
EyePi/img/*
*.iml
*idea
*/build/*
*/dist/*
*/*/gen-py/*
*/gen-py/*
*/gen-java/*
AgendaPi/AgendaPi.egg-info
Logs/*
WeatherPi/api-key/api-key.txt
WeatherPi/config/weather.ini
MusicPi/config/deezer.ini
MusicPi/config/config.ini
FacePi/py-impl/FaceRecognition/Data/*
EarPi/Java/src/main/java/nl/earpi/generated/*/*
EarPi/Java/target

