.DS_Store
*.pyc
ClientPi/img/*
FacePi/img/*
EyePi/img/*
*.iml
*idea
Thrift/gen-java/*
Thrift/gen-py/*
ClientPi/gen-py/*
EyePi/gen-py/*
FacePi/gen-py/*
WeatherPi/gen-py/*
ShortTermMemory/gen-py/*
WeatherPi/api-key/api-key.txt
WeatherPi/config/weather.ini
FacePi/py-impl/FaceRecognition/Data/*
EarPi/src/main/java/earpi/generated
