.DS_Store
*.pyc
ClientPi/img/*
FacePi/img/*
EyePi/img/*
*.iml
*idea
Thrift/gen-java/*
Thrift/gen-py/*
ClientPi/gen-py/*
EyePi/gen-py/*
AdminConsolePi/gen-py/*
FacePi/gen-py/*
WeatherPi/gen-py/*
LightPi/gen-py/*
AgendaPi/gen-py/*
PhotoPi/gen-py/*
AdminConsolePi/gen-py/*
MusicPi/gen-py/*
ShortTermMemory/gen-py/*
LongTermMemory/gen-py/*
WeatherPi/api-key/api-key.txt
WeatherPi/config/weather.ini
MusicPi/config/deezer.ini
FacePi/py-impl/FaceRecognition/Data/*
EarPi/Java/src/main/java/nl/earpi/generated/*/*
EarPi/Java/target
EarPi/Python/gen-py/*

